[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "baizer"]
	path = baizer
	url = https://github.com/william-swl/baizer
[submodule "plutor"]
	path = plutor
	url = https://github.com/william-swl/plutor
